.product-bg[b-3c54aqmhdw] {
    background-color: #F3F3F3;
    text-align:center;
    padding: 100px 40px;
}

.hover[b-3c54aqmhdw] {
    width: 100%;
    bottom: 0px;
    text-align: center;
    background-color: wheat;
    padding: 10px 0px;
    /*visibility: hidden;*/
    
}