@{
    ViewData["Title"] = "About us";
}
@*<h1>@ViewData["Title"]</h1>*@

<div class="about-us">
    <h2 class="title">About Us</h2>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 mt-3">
                <h1>Welcome to <span>???</span> Store!</h1>
                <p>"ADUDU ADUDU ADUDU ADUDU ADUDU ADUDU ADUDU ADUDU ADUDU ADUDU ADUDU ADUDU ADUDU ADUDU "</p>
            </div>
            <div class="col-lg-6 col-md-6">
                <img class="about-img" src="https://localhost:44380/wwwroot/upload/image/about-site/about-us-img.png">
            </div>
        </div>
    </div>
</div>

<div class="service">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-6 col-6 text-center">
                <img class="service-img" src="https://localhost:44380/wwwroot/upload/image/3service/fast.png">
                <h3>FAST SERVICE</h3>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 col-6 text-center">
                <img class="service-img" src="https://localhost:44380/wwwroot/upload/image/3service/24ser.png">
                <h3>24/7 SERVICE</h3>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 col-6 text-center">
                <img class="service-img" src="https://localhost:44380/wwwroot/upload/image/3service/great.png">
                <h3>GREAT PRODUCTS</h3>
            </div>
        </div>
    </div>
</div>

<div class="offer text-center">
    <div class="container">
        <h2>Special Offer</h2>
        <p>Fresh Flowers for any special occasion</p>
    </div>
</div>
