################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CustomerSite/.vs/ecommerce/FileContentIndex
/CustomerSite/ecommerce/bin/Debug/net6.0
