@using ShareViewModel.DTO;
@model List<CategoryDTO>


<ul class="dropdown-menu">
    @{
        foreach (var item in Model)
        {
            <li class="dropdown-item" style="text-align:center">
                @Html.ActionLink(@item.Name, "ProductByCategory", "Product", new{ID=@item.ID,page=1}, new{@style="text-decoration:none;text-transform:capitalize;color:black"})
                </li>
        }
    }
</ul>
